{% load i18n %}
<div id="chat-modal" class="modal chat" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="row g-0 h-100 w-100 rounded-row">
            <div id="list-users-container" class="col-md-4">
                <div class="title-list-users">
                    <h2>{% translate "Chats" %}</h2>
                </div>
                <ul class="list-users">
                    {% for user in users_in_chats %}
                        {% if user.username != request.user.username %}
                            <li class="item-user"
                                data-user-id="{{ user.id }}"
                                data-username="{{ user.username }}"
                                onclick="selectItem(this); openChat('{{ user.id }}', '{{ user.username }}')">
                                <img src="{{ user.avatar }}" class="user-photo">
                                <span class="botton_name">{{ user.username }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div id="chat-container">
                    <header id="header-container">
                        <div class="chat-header">
                            <div id="profile-element"
                                 data-user-id="{{ user.id }}"
                                 data-username="{{ user.username }}"></div>
                            <div id="buttons-container"
                                 data-user-id="{{ user.id }}"
                                 data-username="{{ user.username }}"></div>
                        </div>
                    </header>
                    <div id="tournament-alias"></div>
                    <div id="message-container">
                        <p id="no-chat-selected-message">{% translate "No chats selected!" %}</p>
                        <div id="chat-log"></div>
                    </div>
                    <div id="message-input-container">
                        <input type="text" id="chat-message-input" placeholder="message" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
