{% extends 'includes/base.html' %}

{% block title %}
    Chat List
{% endblock %}

{% block content %}
    <h1>Chat List</h1>
    <ul>
        {% for user in users_in_chats %}
            {% if user != request.user %}
                <li>
                    <a href="#" onclick="onUserClick('{{ user.id }}', '{{ user.username }}')">{{ user.username }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <script>
        function onUserClick(userId, username) {
            if (!userId || isNaN(userId)) {
                console.error('ID do usuário inválido:', userId);
                return;
            }
      
            fetch("http://localhost:8000/chat/create_or_open_chat/" + userId)
                .then(response => response.json())
                .then(data => {
                    window.location.pathname = '/chat/' + data.room_name + '/';
                })
                .catch(error => console.error('Erro ao criar/abrir sala:', error));
        }
    </script>
{% endblock %}
