{% extends 'includes/base.html' %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
{% endblock stylesheet %}

{% block content %}

<div id="chat-modal" class="modal chat" tabindex="-1" role="dialog">
  <div class="modal-content">
      <div class="chats">

        <div id="list-users-container">
        <div class="title-list-users">
          <h2 >Chats </h2>
        </div>
        <ul class="list-users">
          {% for user in users_in_chats %} {% if user.username != request.user.username %}
            <li class="item-user" onclick="selectItem(this); openChat('{{ user.id }}', '{{ user.username }}')">
              <img src="{{ user.avatar }}" class="user-photo">
              <span class="botton_name"> {{ user.username }}</span>
            </li>

          </li>
          {% endif %} {% endfor %}
        </ul>
        </div>
        <div id="chat-container">
          <p id="no-chat-selected-message">No chats selected</p>
          <header id="header-container">
            <div class="chat-header"></div>
          </header>
          <div id="message-container">
            <div id="chat-log">
            </div>
          </div>

          <div id="message-input-container">
            <input type="text" id="chat-message-input" placeholder="message" />
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'chat/chat.js' %}"></script>
{% endblock %}