<div id="chat-modal" class="modal  chat-modal" tabindex="-1" role="dialog">
    <div class="modal-content chat">
        <h1>Chat List</h1>
        <ul>
            {% for user in users_in_chats %}
                {% if user != request.user %}
                <li>
                    <span>{{ user.username }}</span>

                    <button onclick="openChat(`{{ user.id }}`, '{{ user.username }}')">Chat</button>   

                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function openChat(userId, username) {
        if (!userId || isNaN(userId)) {
            console.error('ID do usuário inválido:', userId);
            return;
        }

        fetch("/chat/create_or_open_chat/" + userId)
            .then(response => response.json())
            .then(data => {
                window.location.pathname = '/chat/' + data.room_id + '/';
            })
            .catch(error => console.error('Erro ao criar/abrir sala:', error));
    }
</script>
