{% extends 'includes/base.html' %}

{% block title %}
    Chat Room
{% endblock %}

{% block content %}
 
    <div class="container mt-5">
        <div id="chat-container">
            <div class="chat-header">
                {% if other_user %}
                        <img src="{{ other_user.avatar }}" alt="{{ other_user.username }}" class="user-photo">
                        <h2>{{ other_user.username }}</h2>
                    {% endif %}
            </div>
            <div id="message-container"><div id="chat-log"></div></div>
            <div class="message-input-container">
                <input type="text" id="chat-message-input" placeholder="message">
            </div>

        </div>
    </div>

    <script>
        const base_url = 'ws://' + window.location.hostname + ':' + window.location.port + '/ws/chat/' + "{{ room_id }}" + '/';
        const chatSocket = new WebSocket(base_url);

        function setupWebSocket() {
            chatSocket.onmessage = function(event) {
                let parsed = JSON.parse(event.data);
                addReceivedMessage(parsed.username, parsed.message, parsed.user_avatar);
            };

            return chatSocket;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const chatSocket = setupWebSocket();
            initializeChatLog();

            document.querySelector('#chat-message-input').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            });
        });

        async function addReceivedMessage(sender, message, user_avatar) {
            const chatLog = document.querySelector('#chat-log');
            
            const messageElement = document.createElement('div')
            const avatarElement = document.createElement('img');

            await getLoggedInUsername().then(loggedInUsername => {
                if (sender === loggedInUsername) {
                    messageElement.className = 'sent-message';
                } else {
                    if (!user_avatar) {
                        avatarElement.src ='https://res.cloudinary.com/dw9xon1xs/image/upload/v1706288572/arya2_lr9qcd.png' ; // Replace with the path to your default image
                    } else {
                        avatarElement.src = user_avatar;
                    }
                    avatarElement.alt = 'Avatar';
                    avatarElement.className = 'user-photo';
                    messageElement.className = 'received-message';
                    messageElement.appendChild(avatarElement);
                    console.log(avatarElement)

                }
                const textElement = document.createElement('p');
                textElement.textContent = message;
                textElement.className = 'message-text';
                messageElement.appendChild(textElement);
                chatLog.appendChild(messageElement);
                
                chatLog.scrollTop = chatLog.scrollHeight;
            });
        }

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value.trim();

            if (message !== '' ) {
                chatSocket.send(JSON.stringify({
                    'message': message
                }));}
            messageInputDom.value = '';
        }

        async function getLoggedInUsername() {  
            try {
                const response = await fetch('http://localhost:8000/chat/user/');
                const data = await response.json();
                return data.username;
            } catch (error) {
                console.error("Erro ao obter o nome de usuário:", error);
                return null;
            }
        }

        function initializeChatLog() {
            const data = {{ messages|safe }};
            const current_user = "{{ current_user|safe }}";
            const chatLog = document.querySelector('#chat-log');
            let lastUser = "";

            data.forEach((item) => {
                const isCurrentUser = item.user === current_user;
                const isUserChange = lastUser !== item.user || lastUser === '';
                chatLog.innerHTML += `
                    <div> 
                        ${
                            isCurrentUser
                            ? `
                                <div class="sent-message">
                                    <p class="${isUserChange ? 'special-style' : ''}">${item.content}</p>
                                </div>
                            `
                            : `
                                <div class="received-message">
                                    ${
                                        isUserChange
                                        ? `<img src="${item.avatar}" alt="${item.user}" class="user-photo">` 
                                        : '<div class="user-photo"></div>'
                                    }
                                    <p class="${isUserChange ? 'special-style' : ''}">${item.content}</p>
                                </div>
                            `
                        }
                    </div>
                `;

                lastUser = item.user;
            });
        }
    </script>

{% endblock %}
