#chat-log {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.sent-message {
    text-align: right;
    background-color: #DCF8C6;
    margin-bottom: 10px;
    padding: 5px;
}

.received-message {
    text-align: left;
    background-color: #E5E5EA;
    margin-bottom: 10px;
    padding: 5px;
}