{% extends "includes/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'profile/styles.css' %}">
<link rel="stylesheet" href="{% static 'chat/chat.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="main-title">
        <img src="{% static 'images/bg_big_title_blue.png' %}" alt="bg title" class="img-fluid" width="684"
          height="167" />
        <h1 class="title-center bg-common">Transcendence</h1>
      </div>
      <div class="frame-image">
        <img src="{% static 'images/avatar_frame.png' %}" alt="avatar" class="img-fluid" width="480" height="480" />
        <img src="{{ user.avatar }}" alt="image" width="128" height="128" class="img-avatar img-fluid rounded-circle" />
      </div>
      <div id="instructions-card" class="text-card">
        <h2>instructions</h2>
        <p>
          Use mouse to move around main screen.
          <br>
          Click on icon to enter specific section.
          <br>
          Have fun!
        </p>
      </div>
      <div id="profile-card" class="text-card">
        <h2>profile</h2>
        <p>
          Configure your authentication.
          <br>
          View your statistics.
          <br>
          Create games or chat channels.
          <br>
        </p>
        <button id="profile-button" class="btn-round" type="button" data-toogle="modal" data-target="">
          <i class="bi bi-person"></i>
        </button>
      </div>
      <div id="chat-card" class="text-card">
        <h2>chat</h2>
        <p>
          Create chat channels,
          <br |>
          see your ongoing chats
          <br>
          or just chat.
        </p>
        <button id="chat-button" class="btn-round" type="button" data-toogle="modal" data-target="">
          <i class="bi bi-chat-left"></i>
        </button>
      </div>
      <div id="game-card" class="text-card">
        <h2>game</h2>
        <p>
          Use the arrow keys to move your paddle up or
          <br>
          down to hit the ball on your side.
          <br>
          If the ball exists the screen on left or right,
          <br>
          the player on the opposite side wins a point.
          <br>
          First player to reach 5 points win.
        </p>
        <button id="game-button" class="btn-round" type="button" data-toogle="modal" data-target="">
          <i class="bi bi-controller"></i>
        </button>
      </div>
      <div id="tournament-card" class="text-card">
        <h2>tournament</h2>
        <p>
          Gather your friends
          <br>
          and create your own
          <br>
          tournament.
        </p>
        <button id="tournament-button" class="btn-round" type="button" data-toogle="modal" data-target="">
          <i class="bi bi-trophy"></i>
        </button>
      </div>
      <!-- Profile page -->
      {% include "profile/modal.html" %}

      <!-- TwoFactor Modal -->
      {% include "registration/twoFactorModal.html" %}

      <!-- VerifyTwoFactorModal -->
      {% include "registration/verifyTwoFactorModal.html" %}

      <!-- Chat page -->
      {% include "chat/profileVisit.html" %}
      {% include "chat/chatModal.html" %}

    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  const CREATE_TWO_FACTOR_URL = "{% url 'srcs_auth:totp-create' %}";
  const DELETE_TWO_FACTOR_URL = "{% url 'srcs_auth:totp-delete' %}";
  const VALIDATE_TOKEN_URL = "{% url 'srcs_auth:validate_token_2f' %}";
  const VERIFY_TWO_FACTOR_STATE_URL = "{% url 'srcs_auth:totp-verify' %}";
  const TOTP_LOGIN_URL = "{% url 'srcs_auth:totp-login' token=None %}".replace("None/", "");
</script>
<script src="{% static 'profile/app.js' %}" type="module"></script>
<script src="{% static 'chat/app.js' %}"></script>
<script src="{% static 'chat/chat.js' %}"></script>

{% endblock scripts %}
