<div id="profile-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="nickname">
            <h1 class="profile-text">{{ user.username }}</h1>
        </div>
        <!-- Two Factor -->
        <div id="two-factor-box" class="two-factor-box">
            Two-factor authentication
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>    
    </div>
</div>
