/* Styles for modal box */

.chat .modal-content {
    display: flex;
    flex-direction: row;
    background-color: #000012;
    margin: 5% auto;
    width: 100%;
    max-width: 900px;
    max-height: 550px;
    padding: 0px;
    overflow: hidden;
}

.chat .modal-content:first-child {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    border: 1px solid #6F077C;
    border-radius: 20px;
    z-index: 0;
}

.chats {
    display:flex;
    width: 100%;
    height: 100%;   
    border: 20px;
}

/* Styles for the user list */
#list-users-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    max-width: 300px;

}

.title-list-users {
    color: #ffffff;
    background-color: #000012;
    padding: 4px;
    border-bottom: 2px solid  #6F077C;
    border-right: 1px solid  #6F077C;
    text-align: center;
}

.list-users {
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #6F077C #1E1E1E;
    width: 100%;
    margin: 0;
    padding: 0;

}

.list-users:hover {
    overflow-y: auto;
}

.list-users::-webkit-scrollbar {
    width: 2px;
    transition: width 0.5s;
}

.list-users::-webkit-scrollbar-thumb {
    background-color: #6F077C;
}

.list-users::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

.item-user {
    background-color: #000012;
    display: flex;
    align-items: center;
    cursor: pointer;
    color:#ffffff;
    padding: 15px 10px;
    transition: border-color 0.1s;
    border: 1px solid transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

}

.item-user.selected {
    border: 1px solid #6F077C;
}

.item-user:hover:not(.selected) {
    border: 1px solid #52C0D7;
}

.user-radio:checked + .item-user {
    border-color: #6F077C;
}

/* Styles for the chat container */
#chat-container {
    display: flex; 
    flex-direction: column;
    background-color: #000012;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    max-height: 560px;
}

.chat-header {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #6F077C;
    padding-left: 18px;
    h2 {
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Styles for the message container */
#message-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #6F077C #1E1E1E; 
    border-left: 1px solid #6F077C;
    border-radius: 0 0 15px 0; 
    position: relative;
}

#message-container::-webkit-scrollbar {
    width: 5px;
    transition: width 0.5s;
}

#message-container::-webkit-scrollbar-thumb {
    background-color: #6F077C;
}

#message-container::-webkit-scrollbar-track {
    background-color: #1E1E1E;
} 

#no-chat-selected-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    border-right: 1px solid #6F077C;
}
/* Styles for the chat log */
#chat-log {
    display: flex; 
    flex-direction: column; 
    padding: 0px 10px;
}

/* Styles for messages */
.sent-message {
    display: flex;
    justify-content: flex-end; 
    color: #000;
    margin-top: 5px;

}

.sent-message > p {
    max-width: 80%;
    padding: 5px 20px;
    background-color: #52C0D7;
    border-radius: 15px;
    display: inline-block;
    margin: 0;
    word-wrap: break-word; 
}

.sent-message > p.special-style {
    border-radius: 25px 0px 25px 25px;
}

.received-message {
    display: flex;
    justify-content: flex-start;
    color: #000;
    margin-top: 5px;
}

.received-message > p {
    max-width: 80%;
    padding: 5px 20px;
    background-color: #606060;
    border-radius: 15px;
    display: inline-block;
    margin: 0;
    word-wrap: break-word; 
}

.received-message > p.special-style {
    border-radius: 0px 25px 25px 25px;
}

/* Styles for user photo */
.user-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    margin-right: 8px;

    img {
        height: 100%;
        border-radius: 50%;
        margin-right: 8px;
    }
}

/* Styles for message input */
#message-input-container {
    display: none;
    height: 80px;
    align-items: center;
    justify-content: center; 
    background-color: #000012;
    border-radius:  0 0 15px 0px;
    border-left: 1px solid #6F077C;

}

#chat-message-input {
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none; 
    background-color: #1E1E1E;
    border-radius: 25px 25px 25px 25px; 
    padding: 10px 10px;
    border: none;
    outline: none;
    color: #dbd4d4;

}

#chat-message-input::placeholder {
    color: #9e9e9e;
}

