<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            {% if user != request.user %}
                <li>
                    <a href="#" onclick="onUserClick('{{ user.id }}', '{{ user.username }}')">{{ user.username }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <script>
        function onUserClick(userId, username) {

            if (!userId || isNaN(userId)) {
                console.error('ID do usuário inválido:', userId);
                return;
            }
            //mudar para ir para o perfil do usuario
            fetch( "http://localhost:8000/chat/create_or_open_chat/" + userId)
            .then(response => response.json())
                .then(data => {
                    window.location.pathname = '/chat/' + data.room_name + '/';
                })
                .catch(error => console.error('Erro ao criar/abrir sala:', error));
        }
    </script>
</body>>