{% extends 'includes/base.html' %}

{% block content %}
<div class="container popup-container">
  <div class="bg-common bg-pink">
    <h2 class="title-center">Two Factor</h2>
  </div>
  <div class="mb-3">

    <label for="token" class="description mb-3">
      Scan the QR code with authenticator app.<br>
      Or copy the code.
    </label>
    <div class="mb-4">
      <div class="two-factor-qrcode-container">
        <img src="data:image/png;base64,{{ qrcode }}" class="two-factor-qrcode" alt="QR Code">
      </div>
    </div>

    <div class=" mb-5 two-factor-code">
      <p> {{ totp_code }}</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button onclick="goBack()" class="btn btn-primary-back">back</button>
      </div>
      <div class="col-md-6">
        <button onclick="goToAuthentication()" class="btn btn-primary">ok</button>
      </div>
    </div>


  </div>

</div>

<script>
  function goBack() {
    history.back();
  }

  function goToAuthentication() {
    window.location.pathname = '/validate_token_2f/';

  }
</script>
{% endblock %}
