{% extends 'includes/base.html' %}

{% load static %}

{% block content %}
<div class="container popup-container">

  <form id="testForm">
    <div class="bg-common bg-blue">
      <h2 class="title-center">Two Factor</h2>
    </div>

    <div class="mb-3">
      <label for="token" class="form-label">Security Code:</label>
      <br>
      <input type="text" , class='form-control' , id="token" name="token" , maxlength="6" required>
    </div>
    <input type="submit" class="btn btn-primary" value="verify code">

    <p class="info mb-3">To verify your identity enter the 6-digit code from your authenticator app.</p>

  </form>

  <div id="result"></div>
</div>

{% endblock content %}

{% block scripts %}
<script> const TOTP_LOGIN_URL = "http://localhost:8000/totp/login/" </script>
<script src="{% static 'registration/validate_token_2f.js' %}"></script>
{% endblock scripts %}
