<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste TOTP</title>
</head>
<body>

<form id="testForm" onsubmit="sendTOTPRequest(); return false;">
    <label for="token">Token TOTP:</label>
    <input type="text" id="token" name="token" required>
    <input type="submit" value="Enviar Solicitação">
</form>

<div id="result"></div>

<script>
function sendTOTPRequest() {

    let totpToken = document.getElementById("token").value;

    fetch("http://localhost:8000/totp/login/" + totpToken + "/", {
        method: "POST",
        credentials: "include",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
        },
    })
    .then(response => {
        if (response.ok) {

            return response.json();
        }
        console.error(response)
        throw new Error("Erro na solicitação");

        
    })
    .then(data => {
        window.location.href = "http://localhost:8000/auth/user";
    })
    .catch(error => {
        console.error("Erro:", error);
    });
}

function getCookie(name) {
    var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
}
</script>

</body>
</html>
