{% load i18n %}
<div id="verify-two-factor-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="container popup-container">

      <form id="testForm" method="dialog">
        <div class="bg-common bg-title-blue">
          <h2 class="title-center">{% translate "Two Factor" %}</h2>
        </div>

        <div class="mb-3">
          <label class="form-label">{% translate "Security Code:" %}</label>
          <br>
          <input type="text" class='form-control' id="token" name="token" maxlength="6" required>
        </div>
        <input type="submit" class="btn btn-primary" value="verify code">

      </form>
    </div>
  </div>
</div>
