body {
  background-color: #000012;
  color: #ffffff;
}

.background-image {
  margin: auto;
  margin-top: 5%;
}

img {
  max-width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
