body {
  background-color: #000012;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
}
.user-info {
  white-space: nowrap;
}
.dropdown-item:hover {
  color: #ffffff;
  background-color: #000012;
}
.popup-container {
  width: 450px;
  max-width: 100%;
}
.title-center {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 24px;
  font-weight: 700;
  color: #00000e;
  margin: 0px;
}

.bg-common {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 46px;
  height: 55px;
  margin-bottom: 25px;
}
.bg-title-blue {
  background-image: url("../images/bg_title_blue.png");
}
.bg-title-pink {
  background-image: url("../images/bg_title_pink.png");
}
.bg-pink {
  background-color: #d613f0;
}
.bg-blue {
  background-color: #0071bc;
}
.bg-light-blue {
  background-color: #52c0d7;
}
.text-blue {
  color: #52c0d7;
}
.user-frame {
  background-image: url("../images/user_frame.png");
}
.form-label {
  color: #52c0d7;
  text-transform: lowercase;
}
.form-control {
  color: #fff;
  border-radius: 15px;
  border: 1px solid #52c0d7;
  background-color: #1e1e1e;
}
.description {
  color: #52c0d7;
  font-size: 20px;
  text-align: center;
  margin: auto;
  display: block;
}
.info {
  text-transform: lowercase;
  color: rgba(82, 192, 215, 0.5);
  padding-top: 2%;
}
.two-factor-qrcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-factor-qrcode {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.two-factor-code {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  border-radius: 10px;
  background-color: #1e1e1e;
}
.two-factor-code > p {
  text-align: center;
  color: #fff;
  margin: 8px;
}

.btn-primary {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 18px;
  color: #00000e;
  border-radius: 15px;
  border: 1px solid #3fa9f5;
  background: #3fa9f5;
}

.btn-primary-back {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 18px;
  border-radius: 15px;
  border: 1px solid #3fa9f5;
  background: #1e1e1e !important;
  color: #ffffff !important;
}
.main-content {
  display: flex;
  flex-flow: column;
}
@media (min-width: 1200px) {
  .main-content {
    display: block;
  }
}
.main-title {
  position: relative;
  width: 344px;
  max-width: 100%;
  margin: 40px auto;
  order: 1;
}
@media (min-width: 1200px) {
  .main-title {
    margin: 0 auto 40px;
  }
}
.main-title h1 {
  font-size: 25px;
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame-image {
  position: relative;
  text-align: center;
  order: 3;
}
@media (min-width: 1200px) {
  .frame-image {
    margin: 210px auto 0;
  }
}
.img-avatar-frame {
  width: 410px;
  margin-left: -3px;
}
@media (min-width: 1440px) {
  .img-avatar-frame {
    width: 480px;
  }
}
.img-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105px;
  transform: translate(-50%, -50%);
}
@media (min-width: 1440px) {
  .img-avatar {
    width: 128px;
  }
}
.btn-round {
  display: flex;
  font-size: 32px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.text-card {
  color: #52c0d7;
  text-align: center;
  padding: 16px 52px;
  border-radius: 20px;
  border: solid 1px #52c0d7;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .text-card {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.text-card .btn-round {
  margin: 20px auto 0;
}
#instructions-card {
  order: 2;
}
@media (min-width: 1200px) {
  #instructions-card {
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#profile-card {
  top: 240px;
  left: 26px;
  order: 4;
}

#chat-card {
  top: 203px;
  right: 75px;
  order: 5;
}

#game-card {
  top: 522px;
  left: 20px;
  max-width: 100%;
  order: 6;
}
@media (min-width: 1200px) {
  #game-card {
    width: 350px;
  }
}
@media (min-width: 1440px) {
  #game-card {
    left: 120px;
    width: 390px;
  }
}
#tournament-card {
  top: 545px;
  right: 105px;
  order: 7;
}

.text-card h2 {
  font-size: 20px;
  font-weight: 600;
}

.text-card p {
  margin-bottom: 0;
  line-height: 1.2;
}
.wrapper-user-list {
  width: 350px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.user-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.user-list li {
  margin-bottom: 30px;
  position: relative;
}
.user-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-left: 15px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position-x: 22px;
}
.user-list-item .btn-round {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
.user-list-btns {
  display: flex;
  margin-right: 40px;
}
.user-list li .avatar {
  position: absolute;
  left: 8px;
}
